# API Keys
GEMINI_API_KEY=
MEDIA_AUTH_KEY=

# MQTT Configuration
MQTT_BROKER=
MQTT_SERVER_CLIENT_ID=
MQTT_ESP_CLIENT_ID=
MQTT_TOPIC_TELEMETRY=
MQTT_TOPIC_COMMANDS=
MQTT_TOPIC_RELAY_STATE=
MQTT_USERNAME=
MQTT_PASSWORD=

# Database
DB_PATH=

SSH_ADDR=
SSH_HOST_KEY_PATH=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

REVALIDATE_WEBHOOK_URL=
